In [65]:
import tensorflow as tf
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys

import xgboost
from sklearn import preprocessing
import glob

In [66]:
#location of the datasets and name of the dependent variable, csv_files and val respectively

path = ".\\datasets\\"
val = 'btc'

In [67]:
def vars(path):
    '''Function to get all the CSV files in a directory
    Arguments: path, the path to the main directory containing the csv files
    Returns: List of paths to the files'''
    return glob.glob(os.path.join(path, "*.csv"))

In [68]:
csv_files = vars(path)

dep_path = [f for f in csv_files if f.split("\\")[-1].split('.')[0] == 'btc']

if(len(dep_path) == 0):
    print("Invalid value")
    sys.exit(1)

else: dep_path = dep_path[0]

csv_files.remove(dep_path)

In [69]:
main_data_cols = ['Date', 'Price']

main_df = pd.read_csv(dep_path, usecols= main_data_cols)
main_df.columns = ['Date', val]

In [70]:
for paths in csv_files:
    df = pd.read_csv(paths, usecols = main_data_cols)
    df.columns = ['Date', paths.split("\\")[-1].split(".")[0]]
    main_df = pd.merge(main_df, df, on ="Date")

In [71]:
main_df

,Date,btc,aluminum,copper,crude-oil,gold,natural-gas,sugar,wheat
0,"Jun 09, 2022","30,112.2","2,761.00",4.3810,121.51,"1,852.80",8.963,19.29,"1,071.25"
1,"Jun 08, 2022","30,230.0","2,819.00",4.4545,122.11,"1,856.50",8.699,18.98,"1,074.75"
2,"Jun 07, 2022","31,149.0","2,778.50",4.4355,119.41,"1,852.10",9.293,18.97,"1,071.75"
3,"Jun 06, 2022","31,371.0","2,782.50",4.4350,118.50,"1,843.70",9.322,19.56,"1,093.00"
4,"Jun 01, 2022","29,832.0","2,726.00",4.3285,115.26,"1,848.70",8.696,19.44,"1,041.25"
...,...,...,...,...,...,...,...,...,...
597,"Jan 08, 2020","8,036.8","1,800.00",2.8600,51.63,"1,560.20",2.141,13.47,552.75
598,"Jan 07, 2020","8,150.0","1,816.00",2.8455,52.70,"1,574.30",2.162,13.59,550.25
599,"Jan 06, 2020","7,757.9","1,833.00",2.8395,52.42,"1,568.80",2.135,13.73,550.00
600,"Jan 03, 2020","7,367.5","1,824.00",2.8375,52.29,"1,552.40",2.130,13.31,554.50
601,"Jan 02, 2020","6,989.4","1,804.50",2.8755,52.38,"1,528.10",2.122,13.13,560.25